{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ],
        },
        "modules": false,
        "useBuiltIns": false,
      }
    ]
  ],

  "plugins": [
    "ramda"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
